@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    @apply font-poppins;
}

.trans {
    @apply transition-all ease-linear duration-300;
}

.app {
    @apply max-w-full h-screen bg-pry-clr-0;
}

.container {
    @apply w-[90vw] max-w-[350px] rounded-md px-5 pt-5 pb-3 mx-auto bg-blue-700 text-pry-clr-0 mt-20;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.section-h3 {
    @apply text-3xl font-medium font-roboto tracking-wider;
}

.form {
    @apply mt-5;
}

.form-center {
    @apply flex flex-col gap-4;
}

.form-group {
    @apply flex flex-col gap-0.5;
}

.validity-container {
    @apply flex gap-1.5 items-center;
}

label {
    @apply text-[18px] tracking-wide capitalize;
}

input {
    @apply rounded-md p-0.5 text-pry-clr-1 text-[18px] font-cabin bg-white outline-none w-full;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input:focus {
    @apply bg-pry-clr-0;
}

.btn-container {
    @apply w-full mt-6 font-cabin;
}

.btn {
    @apply py-2 w-full rounded-lg text-pry-clr-0 bg-blue-700 text-xl tracking-widest;
}

.btn:focus {
    @apply outline-none;
}

.btn:hover:not([disabled]) {
    @apply bg-[navy] text-pry-clr-1 trans;
}

.btn:disabled {
    @apply opacity-[50%] cursor-not-allowed;
}

.user-route {
    @apply mt-2 text-[15px];
}

.user-route a {
    @apply underline;
}

.constraint {
    @apply w-full px-2 py-1.5 bg-pry-clr-1 text-pry-clr-0 rounded-lg mt-1.5 flex gap-3 text-[14px];
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.valid,
.invalid {
    @apply text-xl;
}

.invalid,
.errMsg {
    @apply text-red-500;
}

.pswd-container {
    @apply relative;
}

.eye {
    @apply absolute top-2 right-3 text-pry-clr-1 text-xl;
}

.err-container {
    @apply w-full mx-auto px-3 py-2 bg-red-300 rounded-md;
}

.errMsg {
    @apply text-center mb-2;
    animation: fadeIn 800ms ease-in-out;
}

.success {
    @apply text-[16px] mb-2 tracking-wide text-green-300;
}

.navbar {
    @apply py-3 px-14 bg-blue-600 tracking-widest text-xl;
}

.nav-center {
    @apply flex justify-between;
}

.nav-center ul {
    @apply flex gap-9;
}

.nav-center ul a {
    @apply text-pry-clr-0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}